<div class="row">
  <div class="small-12 columns">
  	<%= render :partial => "list_bets" %>
    <br />
    <%= link_to "Make a new bet", new_bet_path, class: "button tiny radius" %>
    &nbsp;
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
  	<br /><br />
  	<%= render :partial => "calendar_bets" %>
    
  </div>
</div>