<div class="row">
  <div class="small-4 columns">
  </br></br>
    <%= render :partial => "bets_to_accept" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-4 columns">
    </br></br>
    <%= render :partial => "bets_to_broker" %>
  </div>

  <div class="small-3 columns">
  </br></br>
  	<%= render :partial => "pending_bets" %>
  </div>
</div>