<div class="row">
  <div class="small-5 columns">
  </br></br>
    <%= render :partial => "bets_to_accept" %>
  </div>

  <div class="small-2 columns">
    &nbsp;
  </div>

  <div class="small-5 columns">
  </br></br>
  	<%= render :partial => "pending_bets" %>
  </div>
</div>