<div class="row">
  <div class="small-5 columns">
    <%= render :partial => "bet_details" %>
  </div>

  <div class="small-1 columns">
    &nbsp;
  </div>

  <div class="small-6 columns">
  </br></br>
  	<%= render :partial => "chart" %>
  </div>
</div>