<% unless @bets.empty? %>
  <!-- <h3>&nbsp;</h3> -->
  <div class="panel clearfix">
    <h5>Bets Made:</h5>
    <ul class="side-nav">
      <% @bets.each do |bet| %>
        <li><%= link_to bet.name, bet_path(bet) %></li>
        <li><%= "Against: #{bet.challengee}" %></li></br>
      <% end %>
    </ul>
  </div>

<% else %>
  <div class="panel clearfix">
    <h5>You do not have any current bets!</h5>
  </div>
<% end %>
