<div>
    <div>
      <%= f.input :username %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <% if current_user.role == 'admin' %>
      	<%= f.select(:role, User::ROLES) %>
      <% end %>
    </div>
</div>