<div class="row">
  <div class="small-4 columns">
    <%= render :partial => "member_details" %>
  </div>

  <div class="small-4 columns">
    <%= render :partial => "win_loss_chart" %>
  </div>

  <div class="small-4 columns">
  </br></br></br>
  	<%= render :partial => "current_bets" %>
  </div>
</div>